<div style="display: flex; justify-content: space-around;">
  <div>
    <%= link_to "https://analytics.google.com/analytics/web/", target: :_blank do %>
      <img src="<%= image_path 'admin/google-analytics.png' %>" alt="Google Analytics" style="height: 150px; margin-top: 150px;">
    <% end %>
    <p class="text-center"><small>Google Analytics pour le référencement/trafic</small></p>
  </div>
  <!-- <div>
    <%#= link_to "", target: :_blank do %>
      <img src="<%#= image_path 'admin/ovh.png' %>" alt="Ovh" style="height: 150px; margin-top: 150px;">
    <%# end %>
    <p><small>OVH, Gestion du Nom de Domaine</small></p>
  </div> -->
  <div>
    <%= link_to "https://dashboard.heroku.com/apps/ludoria", target: :_blank  do %>
      <img src="<%= image_path 'admin/heroku.png' %>" alt="Heroku" style="height: 150px; margin-top: 150px;">
    <% end %>
    <p><small>Heroku, Serveur hébergeant le site</small></p>
  </div>
  <div>
    <%= link_to "https://dashboard.stripe.com/dashboard", target: :_blank  do %>
      <img src="<%= image_path 'admin/stripe.png' %>" alt="Stripe" style="height: 150px; margin-top: 150px;">
    <% end %>
    <p><small>Stripe, Paiement en ligne</small></p>
  </div>
</div>
