<div class= "main-navbar text-center">
  <div class="d-none d-md-block">
    <h1 class="m-3">LUDORIA</h1>
    <div class="navbar-element">

      <!-- <%= link_to "Les patrons sur-mesure", "/", class: "navbar-mihivai-item navbar-ludoria-link" %>-->
      <%= link_to "Mes Mesures", "#", class: "navbar-mihivai-item navbar-ludoria-link" %>
      <%= link_to "Le Blog", "/", class: "navbar-mihivai-item navbar-ludoria-link" %>
      <%= link_to "La Maison Ludoria", "/", class: "navbar-mihivai-item navbar-ludoria-link" %>
      <%= link_to "Les Offres", "/", class: "navbar-mihivai-item navbar-ludoria-link" %>

      <% if user_signed_in? %>
        <%= link_to t(".sign_out", default: "Log out"), destroy_user_session_path, method: :delete , class: "navbar-mihivai-item navbar-ludoria-link"%>
      <% else %>
        <%= link_to 'Mon compte', new_user_session_path , class: "navbar-mihivai-item navbar-ludoria-link"%>
      <% end %>
    </div>
  </div>
  <div class="d-block d-md-none">
    <h1>LUDORIA</h1>
    <div class="navbar-dropdown">
      <input id="toggle" type="checkbox"/>
      <label class="hamburger" for="toggle">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>
      <div class="nav">
        <div class="nav-wrapper">
          <nav class= "d-flex align-item-center border-dashed-blue">
            <div class="max-width-240px mx-auto text-right">
              <% if user_signed_in? %>
                <div class="my-3">
                  <%= link_to "Se Déconnecter", destroy_user_session_path, class: "navbar-link text-blue", method: :delete %>
                </div>
              <% else %>
                <div class="my-3">
                  <%= link_to "Mon compte", new_user_session_path,  class: "navbar-link text-blue" %>
                </div>
                <div class="text-grey font-italic font-weight-light">
                  <p>Je crée un compte</p>
                  <p>Je me connecte</p>
                </div>
              <% end %>
              <div class="border-bottom-dashed-blue w-75 ml-auto"></div>
              <div class="my-3">
                <%= link_to "Mes mesures", '/',  class: "navbar-link text-blue" %>
                <div class="text-grey font-italic font-weight-light">
                  <p>Je prends mes mesures</p>
                  <p>Mon formulaire</p>
                </div>
              </div>
              <div class="border-bottom-dashed-blue w-75 ml-auto"></div>
              <div class="my-3">
                <%= link_to "La maison Ludoria", '/',  class: "navbar-link text-blue" %>
              </div>
              <div class="border-bottom-dashed-blue w-75 ml-auto"></div>
              <div class="my-3">
                <%= link_to "Les offres", '/',  class: "navbar-link text-blue" %>
              </div>
              <div class="border-bottom-dashed-blue w-75 ml-auto"></div>
              <div class="my-3">
                <%= link_to "Le Blog", '/',  class: "navbar-link text-blue" %>
              </div>
              <div class="border-bottom-dashed-blue w-75 ml-auto"></div>
              <div class="my-3">
              <%= link_to "Mes mesures", '/',  class: "navbar-link text-blue" %>
                <div class="text-grey font-italic font-weight-light">
                  <p>Les collections de patrons</p>
                  <p>Le corsage & la jupe de base</p>
                  <p>Le mannequin de couture</p>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom-dashed-green"></div>
</div>
<div class="navbar-height"></div>

