<%= content_for :meta_title, "Ludoria: nos événements couture" %>
<%= content_for :meta_description, "Agenda et événements couture LUDORIA" %>
<%= content_for :meta_keywords, "prise de mesure couture, prise de mesures couture, prendre ses mesures , prendre ses mesures couture, prendre les mesures, mensurations , mensurations femme, mensurations couture, prise mesures couturière, prise de mesure femme, atelier prise de mesures, prise de mesures à domicile, bien prendre ses mesures, atelier couture bordeaux, atelier prise de mesures couture bordeaux, afterwork couture, afterwork prise de mesures, événement couture bordeaux" %>


<div class="bg-white section-shadow py-4">
  <div class="container page-min-height">
    <h1 class="text-green letter-spacing font-title font-weight-light mb-3">- Agenda -</h1>
    <div class="container-fluid px-4 text-dark-grey font-size-14px font-weight-light">
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptates iure, amet repudiandae, natus quasi nesciunt? Odio, aut quidem possimus culpa animi. Libero, quibusdam porro dolorem, tenetur rerum sequi labore!</p> -->
      <div class="row my-4 text-center font-size-14px text-dark-grey">
        <%= render @events %>
      </div>
    </div>
    <h2 class="text-green letter-spacing font-weight-light mb-2 font-size-20px">- Un atelier entre amis ? -</h2>
    <div class="row border-dashed-green p-2 m-2">
            <div class="col-12 col-md-7 col-lg-8 col-xl-9 d-flex justify-content-start align-items-center my-1">
              <p class= "mb-0 text-dark-grey">Un apéro ou un thé entre amies ? Nous nous déplaçons chez vous pour y ajouter une petite touche de couture. Nous vous guiderons dans votre prise de mesures, contactez-nous plus   d’informations.</p>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 d-flex justify-content-center align-items-center my-1">
     <!--          <a href="mailto:" class="button-large-green text-center letter-spacing-1px">Contactez nous</a> -->
              <%= link_to 'Contactez nous', '#', class: "button-large-green text-center letter-spacing-1px" %>
            </div>
          </div>
  </div>

</div>

