<%= content_for :meta_title, "Ludoria: Agenda" %>
<%= content_for :meta_description, "" %>
<%= content_for :meta_keywords, "" %>


<div class="bg-white section-shadow py-4">
  <div class="container page-min-height">
    <h1 class="text-green letter-spacing font-title font-weight-light mb-3">- Agenda -</h1>
    <div class="container-fluid px-4 text-dark-grey font-size-14px font-weight-light">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptates iure, amet repudiandae, natus quasi nesciunt? Odio, aut quidem possimus culpa animi. Libero, quibusdam porro dolorem, tenetur rerum sequi labore!</p>
      <div class="row my-4 text-center font-size-14px text-dark-grey">
        <%= render @events %>
      </div>
    </div>
    <h2 class="text-green letter-spacing font-weight-light mb-2 font-size-20px">- Vous souhaitez organiser un événement ? -</h2>
    <div class="row border-dashed-green p-2 m-2">
            <div class="col-12 col-md-7 col-lg-8 col-xl-9 d-flex justify-content-start align-items-center my-1">
              <p class= "mb-0 text-dark-grey">N'hésitez pas à nous contacter pour organiser un événement couture à domicile.</p>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 d-flex justify-content-center align-items-center my-1">
              <%= link_to 'Contactez nous', '#', class: "button-large-green text-center letter-spacing-1px" %>
            </div>
          </div>
  </div>

</div>

