<div class="bg-white section-shadow py-5">
  <div class="container">
    <h1 class="text-green font-size-40px letter-spacing font-weight-light">- Les Patrons -</h1>
    <div class="w-75 mx-auto">
      <div class="position-relative my-5">
        <%= link_to "#" do %>
          <p class="button-patterns mb-0 position-bottom-center d-none d-md-block">Je prends mes mesures</p>
          <%= image_tag 'manequin.png', class: 'w-100', alt: "patron sur mesure" %>
        <% end %>
      </div>
      <div class="position-relative coming-frame-container mb-5">
        <%= link_to '#' do%>
          <p class="button-patterns mb-0 position-bottom-center d-none d-md-block">La collection</p>
          <%= image_tag 'collection.png', class: 'w-100', alt: "collection de robe" %>
          <div class="coming-frame">
            <div class="d-flex align-items-center h-100 justify-content-center">
              <p class="text-dark-grey font-size-responsive-80px-40px font-weight-thin">à venir</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="position-relative coming-frame-container">
        <%= link_to '#' do %>
          <p class= "button-patterns mb-0 position-bottom-center d-none d-md-block">Corsage et Jupe de base</p>
          <%= image_tag 'manequin.png', class: 'w-100', alt: "jupe" %>
          <div class="coming-frame">
            <div class="d-flex align-items-center h-100 justify-content-center">
              <p class="text-dark-grey font-size-responsive-80px-40px font-weight-thin">à venir</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
