<div class="bg-white section-shadow py-5">
  <div class="container">
    <h2 class="text-green font-size-40px letter-spacing font-weight-light">- Les Patrons -</h2>
    <div class="w-75 mx-auto">
      <div class="position-relative my-5">
        <%= link_to 'Je prends mes mesures','#', class: "button-patterns position-bottom-center" %>
        <%= image_tag 'manequin.png', class: 'w-100' %>
      </div>
      <div class="position-relative coming-frame-container mb-5">
        <%= link_to 'La collection','#', class: "button-patterns position-bottom-center" %>
        <%= image_tag 'collection.png', class: 'w-100' %>
        <div class="coming-frame">
          <div class="d-flex align-items-center h-100 justify-content-center">
            <p class="text-dark-grey font-size-responsive-80px-40px">à venir</p>
          </div>
        </div>
      </div>
      <div class="position-relative coming-frame-container">
        <%= link_to 'Corsage et Jupe de base','#', class: "button-patterns position-bottom-center" %>
        <%= image_tag 'manequin.png', class: 'w-100' %>
        <div class="coming-frame">
          <div class="d-flex align-items-center h-100 justify-content-center">
            <p class="text-dark-grey font-size-responsive-80px-40px">à venir</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
