<%= content_for :meta_title, "Ludoria : se connecter" %>
<%= content_for :meta_description, "Connectez-vous aux services Ludoria, Prenez vos mesures corporelles et accédez à notre guide de prise de mesures" %>
<%= content_for :meta_keywords, "ludoria" %>

<div class="page-min-height d-flex justify-content-center align-items-center">
  <div class="frame-log-in d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url( <%= image_url "fond-sign-in.png" %>);background-size: cover">
    <div class="frame-300px bg-white text-center pt-4 pb-5 px-4 position-relative">
      <p class="text-green font-size-24px">Bienvenue</p>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :email,
                        placeholder: 'email',
                        label: false,
                        input_html: { autocomplete: "email", class: "form-control border-radius-20px-important font-size-14px-important text-dark-grey py-1 px-3 my-3 focus-grey"} %>
            <%= f.input :password,
                        placeholder: 'mot de passe',
                        label: false,
                        input_html: { autocomplete: "current-password", class: "form-control border-radius-20px-important font-size-14px-important text-dark-grey py-1 px-3 my-3 focus-grey" } %>

          <div class="form-actions">
            <%= f.submit "Se connecter", class: 'px-4 py-2 w-75 text-white bg-green border-radius-20px border-0 outline-none' %>
          </div>
        <% end %>
        <div class="position-bottom-right text-right">
          <p class="mb-0"><%= link_to "nouvelle cliente ?", new_registration_path(resource_name), class: "text-dark-grey font-size-14px font-weight-light" %></p>
          <p  class="mb-0"><%= link_to "mot de passe oublié ?", new_password_path(resource_name), class: "text-dark-grey font-size-14px font-weight-light" %></p>
        </div>
    </div>
  </div>
</div>
