<%= content_for :meta_title, "Ludoria: Mesures" %>
<%= content_for :meta_description, "Téléchargez notre livret d'instructions de prise de mesures en PDF, renseignez le tableau avec vos informations et recevez votre liste de mesures personnelles." %>
<%= content_for :meta_keywords, "prise de mesure couture, prise de mesures couture, fiche de prise de mesures pdf, fiche de prise de mesures pdf à imprimer, fiche de prise de mesures à imprimer, fiche de prise de mesures couture pdf, fiche de prise de mesures couture pdf à imprimer, fiche de prise de mesures couture à imprimer, tableau de prise de mesures pdf, tableau de prise de mesures pdf à imprimer, tableau de prise de mesures à imprimer, tableau de prise de mesures couture pdf, tableau de prise de mesures couture pdf à imprimer, tableau de prise de mesures couture à imprimer, prendre ses mesures , prendre ses mesures couture, prendre les mesures, mensurations , mensurations femme, mensurations couture, prise mesures couturière, prise de mesure femme, livret prise de mesure, livret prise de mesures, livret prise de mesure couture, livret prise de mesures couture, livret prise de mesure pdf, livret prise de mesures pdf, livret prise de mesure couture pdf, livret prise de mesures couture pdf, bien prendre ses mesures, comment bient prendre ses mesures, taille patron" %>

<div class="bg-white section-shadow py-4">
  <div class="container">
    <h1 class="text-green letter-spacing font-title font-weight-light mb-3">- Mes Mesures -</h1>
    <div class="container-fluid px-4 text-dark-grey">
      <p>La prise de mesures est une étape indispensable dans l’élaboration d’un modèle sur mesure.<br>Elle doit être réalisée à deux et avec le plus grand soin. De sa justesse dépend le succès de la réalisation de votre modèle. Plus la prise de mesures sera précise, plus vos patronages seront ajustés à votre corps, diminuant ainsi le recours aux retouches.<br>Nous avons choisi une liste exhaustive de mesures vous permettant ainsi de modéliser votre corps de la façon la plus précise.</p>
      <p>Nous vous invitons à télécharger notre guide de prise de mesures pour vous accompagner pas à pas dans cette étape.</p>
      <p>Après avoir renseigné chaque mesure dans le tableau, vous recevrez votreliste de mesures personnalisées par mail. La totalité de vos mesures restera accessible sur votre compte, et sera consultable et modifiable à tout moment.</p>

      <div class="row my-4 text-center text-dark-grey">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="far fa-2x fa-play-circle text-white"></i></div>
          <p class="mb-0">Je visionne</p>
          <p class="mb-0">les instructions</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="fas font-size-24px fa-download text-white"></i></div>
          <p class="mb-0">Je télécharge</p>
          <p class="mb-0">mon guide de </p>
          <p class="mb-0">prise de mesures</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="fas font-size-24px fa-ruler text-white"></i></div>
          <p class="mb-0">Je prends</p>
          <p class="mb-0">mes mesures</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="far font-size-24px text-white fa-list-alt"></i></div>
          <p class="mb-0">Je reporte</p>
          <p class="mb-0">mes mesures</p>
          <p class="mb-0">dans le tableau</p>
        </div>
      </div>
      <div class="px-4 mb-5 d-flex flex-wrap justify-content-around align-items-center">
        <div class="w-50 video-frame-min-width mb-3 mx-3">
          <div class="video-frame">
            <%= image_tag 'ludoria-col.png', style: 'width:560px;height:315px' %>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="m-3">
            <%= link_to  download_pdf_url, class: "text-decoration-none" do %>
              <p class="button-large-green text-center p-3 w-100" >Mon guide<br>de<br>prise de mesures<br>(PDF)</p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="d-none d-sm-block">

        <div class="text-center">
          <% if user_signed_in? %>
            <%= link_to 'Je prends mes mesures',edit_user_path(current_user), class: "font-size-18px button-large-green", remote: true %>
          <% else %>
            <%= link_to 'Je prends mes mesures',new_user_registration_path, class: "font-size-18px button-large-green" %>
          <% end %>
          </div>
      </div>
      <div class="d-block d-sm-none">
        <div class="text-center">
          <% if user_signed_in? %>
            <%= link_to 'Mes mesures', '', class: "font-size-18px button-large-green" %>
          <% else %>
            <%= link_to 'Mes mesures',new_user_registration_path, class: "font-size-18px button-large-green" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="user_measure_form" class="mt-5">
    <% if user_signed_in? %>
    <%= render 'users/form', user: current_user %>
    <% end %>
  </div>

</div>
